$bg-red: #ff3f3f;
$bg-red2: #FB3636;

$bg-byellow: #f0f961;
$bg-bgreen: #D2EC00;
$bg-green: #7AC313;
$bg-pgreen: #ceffc2;
$bg-peach: #ffe8c5;
$bg-pyellow: #fafe92;

$bs: 0px 2px 10px rgba(0,0,0,0.2);
$bs-peach: 0px 2px 10px rgba(255,232,197,0.2);

$font-title: 'Aclonica', sans-serif;
$font-para: 'Gruppo', cursive;