.container {

  .fruit-title {
    margin-top: 20px;

  }
  .img-container {
    width: 50%;
    img {
      width: 100%;
      max-width: 350px;
      max-height: 350px;
    }
  }
  div {
    h4 {
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
  }
  .btn {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;

    background-color: $bg-red;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}


