.home-wrapper {
  margin-top: 0;
  height: 100%;
  min-height: 100vh;
  background-image: url('../../../public/images/FruitBackground2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  // width: auto;

  .hero {
    display: flex;
    justify-content: center;
    color: white;
    // color: black;

    .hero-container{
      margin-top: 200px;
      border-radius: 8px;
      border: 1px solid white;
      text-shadow: $bg-red 0px 0px 10px;
      padding: 20px 40px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      // background-color: #FFEF00;
      h1{
        font-family: $font-title;
        margin-bottom: 0;
      }
      p {
        font-family: $font-para;
        font-weight: bold;
        font-size: 25px;
      }
      .btn-container {
        display: flex;
        justify-content: space-around;
        .btn {
          font-family: $font-title;
          width: 150px;
          background-color: $bg-red;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
  }
}
